## BEMM458 Final Assignment

## You are a data scientist working for the European Union. There is an increasing concern inn  relation to the spread and amplification of misinformation on social media.

## General management needs you to conduct an analysis of recent conversations posted on Twitter in relation to spain. You have to identify ongoing misinformation campaigns and profile those users contributing to the spread of misinformation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scipy
import re

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
pd.set_option('display.max_rows', 120)

In [4]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [5]:
spainEnglishAll=pd.read_csv('./BEMM458FinalAssignment.csv')

In [6]:
spainEnglishAll.columns

Index(['Unnamed: 0', 'tweeet.id', 'tweet.text', 'tweet.created_at',
       'tweet.author_id', 'tweet.lang', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count'],
      dtype='object')

In [7]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" ‚Äî by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0
...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0

## Question 1. Which twitter conversations have large levels of amplification ? (15 points)
### Tip: consider number of retweets, likes, etc as proxies to measure the spread of information on social media

### <font color='green'> Answer (First Part): First, we need to find approximate  amplification relation for the retweets, reply and like counts. If our goal is the finding amplification of misinformation, we need to look which terms reach the tweet to the people's screen most. Retweet of tweet directly shows the tweet for all the followers of that account. Reply number should be less attribute to spreading misinformation, because the person who replied can also state that tweet has misinformation. However, reply count still very important at spreading of misinformation because replying moves that tweet to the person's followers' main screen. For like count, we can see some liked tweets of accounts that we are following in our twitter main screen, but frequency of it so low when it compared with other 2 parameters. However, like count has a meaning of confirmation on twitter and it can affect people's acceptance for that misinformation, so it has still some effect for amplification of misinformation. To conclude, according to their effects, we need assign coefficients to these terms and multiply with it. Then, we can sum up these counts and create new column as amplification_volume. There is no concrete coefficients for these terms, but even if we give bigger coefficient number according to their power of amplification, it would be more meaningful analyst rather than just count numbers.
Coefficient of Retweet : 5 --- Coefficient of Reply : 4 --- Coefficient of Like = 2 </font>

In [8]:
spainEnglishAll["amplification_volume"] = (spainEnglishAll["public_metrics.retweet_count"]*5) + (spainEnglishAll["public_metrics.like_count"] * 2) + (spainEnglishAll["public_metrics.reply_count"]*4)

In [9]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0,7840
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0,190
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" ‚Äî by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0,450
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5,10
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0,170
...,...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0,90
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1,2
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0,605
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0,0

In [10]:
amp_sorted = spainEnglishAll.sort_values("amplification_volume", ascending=False)

In [11]:
amp_sorted.head(100)

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
23467,23467,1461162679809155076,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:41:44+00:00,1290910527393210368,en,44845,0,0,224225
23656,23656,1461157780664901633,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:16+00:00,1101831422631804800,en,43945,0,0,219725
8820,8820,1461371211343020033,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 16:30:22+00:00,1168957082,en,43945,0,0,219725
39357,39357,1461649200882405377,RT @NCTsmtown_127: Spain here we goooooo\n\n#N...,2021-11-19 10:55:00+00:00,1064006291087970432,en,35930,0,0,179650
45373,45373,1461537918900600843,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:48+00:00,1382234880465989632,en,34538,0,0,172690
41908,41908,1461613145219239944,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 08:31:43+00:00,1388490486181076992,en,34538,0,0,172690
23655,23655,1461157789397438464,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:18+00:00,1101831422631804800,en,34537,0,0,172685
45333,45333,1461539133520695297,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:37:38+00:00,1382234880465989632,en,32878,0,0,164390
45374,45374,1461537902106537991,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:44+00:00,1382234880465989632,en,32632,0,0,163160
44456,44456,1461565440879206401,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 05:22:10+00:00,1322715465198821376,en,30490,0,0,152450
23465,23465,1461162702307426312,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-18 02:41:49+00:00,1290910527393210368,en,30489,0,0,152445
45332,45332,1461539163207995397,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:37:45+00:00,1382234880465989632,en,30038,0,0,150190
45336,45336,1461539044974731265,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:17+00:00,1382234880465989632,en,27322,0,0,136610
45375,45375,1461537878991781892,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:39+00:00,1382234880465989632,en,27002,0,0,135010
23658,23658,1461157760607739909,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:11+00:00,1101831422631804800,en,27001,0,0,135005
12779,12779,1461327131057680386,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 13:35:12+00:00,1140539982865559552,en,26867,0,0,134335
9806,9806,1461359523298377745,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 15:43:55+00:00,1014802699680771968,en,26867,0,0,134335
23311,23311,1461167495809617921,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 03:00:52+00:00,1290910527393210368,en,26867,0,0,134335
45334,45334,1461539103741149186,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:31+00:00,1382234880465989632,en,26424,0,0,132120
23461,23461,1461162923057827840,RT @NCTsmtown_127: Amazing time in SPAINüá™üá∏\nGr...,2021-11-18 02:42:42+00:00,1290910527393210368,en,25251,0,0,126255
45378,45378,1461537845516984321,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:32:31+00:00,1382234880465989632,en,22858,0,0,114290
41830,41830,1461614169296306178,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 08:35:48+00:00,1388490486181076992,en,22858,0,0,114290
45337,45337,1461539030298886147,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:13+00:00,1382234880465989632,en,21900,0,0,109500
45335,45335,1461539081725251585,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-19 03:37:25+00:00,1382234880465989632,en,21696,0,0,108480
40063,40063,1461639063329550344,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 10:14:43+00:00,1430829012520214528,en,21457,0,0,107285
2252,2252,1461451876000489474,RT @MesutOzil1088: I grew up as a @Fenerbahce ...,2021-11-18 21:50:54+00:00,1245113611263057920,en,17801,0,0,89005
43940,43940,1461577564850319362,RT @LAPXURADELBUIO: what is happening in spain...,2021-11-19 06:10:20+00:00,1324927883446345728,en,16466,0,0,82330
34370,34370,1461716582602657792,"RT @AfricanArchives: African moors, who conque...",2021-11-19 15:22:45+00:00,1366298396051582976,en,16115,0,0,80575
41984,41984,1461611790907809795,RT @TheeAzanian: Normalize posting these poor ...,2021-11-19 08:26:21+00:00,1412044637288779776,en,13620,0,0,68100
6960,6960,1461393296190840837,RT @TheeAzanian: Normalize posting these poor ...,2021-11-18 17:58:07+00:00,1252041619349667840,en,13620,0,0,68100
23267,23267,1461168528757829633,RT @bubbaprog: Here is how the Nicki Minaj sto...,2021-11-18 03:04:59+00:00,1138552825,en,12637,0,0,63185
5082,5082,1461415007846117376,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:24:24+00:00,2949011187,en,9909,0,0,49545
15812,15812,1461293000001208324,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 11:19:35+00:00,977304500338937984,en,9909,0,0,49545
18817,18817,1461253366483402754,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:42:06+00:00,2941373397,en,9909,0,0,49545
42346,42346,1461606317567754240,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:04:36+00:00,135942979,en,9909,0,0,49545
859,859,1461469510586839047,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 23:00:58+00:00,1036271517699587968,en,9909,0,0,49545
3009,3009,1461442074184720387,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 21:11:57+00:00,955569674737127424,en,9909,0,0,49545
40431,40431,1461634086292840448,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 09:54:56+00:00,429415976,en,9909,0,0,49545
10855,10855,1461347421116502019,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 14:55:50+00:00,279175765,en,9909,0,0,49545
15874,15874,1461292250927972353,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 11:16:36+00:00,4178285177,en,9909,0,0,49545
41506,41506,1461619083162664963,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:55:19+00:00,1334365136660869120,en,9909,0,0,49545
32104,32104,1461744173653139459,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 17:12:23+00:00,1248567610784067584,en,9909,0,0,49545
5530,5530,1461411825971515395,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:11:45+00:00,984144046833721216,en,9909,0,0,49545
32963,32963,1461733446355669006,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 16:29:45+00:00,493874600,en,9909,0,0,49545
40612,40612,1461631578107482112,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 09:44:58+00:00,1215225159508021248,en,9909,0,0,49545
32155,32155,1461743601382268936,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 17:10:07+00:00,1185923273772675072,en,9909,0,0,49545
5403,5403,1461413368959492108,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:17:53+00:00,16095339,en,9909,0,0,49545
16547,16547,1461283995266830338,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 10:43:48+00:00,62527457,en,9909,0,0,49545
4585,4585,1461420287510159373,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:45:23+00:00,1371813880343711488,en,9909,0,0,49545
5484,5484,1461412419377537025,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:14:07+00:00,2385072439,en,9909,0,0,49545
6012,6012,1461405606540103682,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 18:47:02+00:00,2766567177,en,9909,0,0,49545
6999,6999,1461392799459385347,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 17:56:09+00:00,591623368,en,9909,0,0,49545
18871,18871,1461252721122721793,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:39:32+00:00,911620587990261760,en,9909,0,0,49545
42229,42229,1461608131411255297,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:11:48+00:00,906324457,en,9909,0,0,49545
18905,18905,1461252203105206277,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:37:28+00:00,910607855434203136,en,9909,0,0,49545
41844,41844,1461613986038919171,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:35:04+00:00,1120563183675166848,en,9909,0,0,49545
18896,18896,1461252366175453184,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:38:07+00:00,918435613698863232,en,9909,0,0,49545
29595,29595,1461776690099728385,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 19:21:36+00:00,1186745463485145088,en,9909,0,0,49545
14561,14561,1461307600562266117,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 12:17:36+00:00,372569108,en,9909,0,0,49545
10645,10645,1461349756005806089,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 15:05:07+00:00,2507221911,en,9909,0,0,49545
4527,4527,1461421081105948679,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:48:32+00:00,1097937228607700992,en,9909,0,0,49545
30531,30531,1461764692653887496,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 18:33:55+00:00,1676132136,en,9909,0,0,49545
2434,2434,1461450207657349131,EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWorld Cup 2010...,2021-11-18 21:44:16+00:00,18091004,en,1568,740,15423,41646
24919,24919,1461131965848068101,RT @MaziNnamdiKanu: Gerard Pique is a World Cu...,2021-11-18 00:39:41+00:00,1416473790775795712,en,6073,0,0,30365
32805,32805,1461735560435752961,"""What if Lionel Messi picked Spain over Argent...",2021-11-19 16:38:09+00:00,1443958261917511680,en,895,138,12216,29459
10702,10702,1461349106786332673,RT @denterd: Finland newspaper @Kaleva_fi toda...,2021-11-18 15:02:32+00:00,157755289,en,5843,0,0,29215
29556,29556,1461777388694654980,RT @SocialistRA: One of the warning signs that...,2021-11-19 19:24:22+00:00,1277905096680996864,en,5828,0,0,29140
28012,28012,1461802373387591683,RT @SocialistRA: One of the warning signs that...,2021-11-19 21:03:39+00:00,4456283374,en,5828,0,0,29140
25807,25807,1461840296921210886,RT @SocialistRA: One of the warning signs that...,2021-11-19 23:34:21+00:00,1579128739,en,5828,0,0,29140
30302,30302,1461767227603046403,RT @SocialistRA: One of the warning signs that...,2021-11-19 18:44:00+00:00,166367383,en,5828,0,0,29140
18546,18546,1461257856771137537,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 08:59:56+00:00,289475089,en,5592,0,0,27960
47386,47386,1461487764411764739,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 00:13:30+00:00,808757150986211328,en,5592,0,0,27960
12317,12317,1461331977123024908,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:54:28+00:00,803725922,en,5592,0,0,27960
6799,6799,1461395013494099969,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 18:04:57+00:00,51291319,en,5592,0,0,27960
6687,6687,1461396578380484619,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 18:11:10+00:00,861704529418563584,en,5592,0,0,27960
12348,12348,1461331560037335048,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:52:48+00:00,17211934,en,5592,0,0,27960
12311,12311,1461332052465250307,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:54:46+00:00,1256813822427279360,en,5592,0,0,27960
24178,24178,1461146737670864901,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 01:38:23+00:00,18000351,en,5592,0,0,27960
45346,45346,1461538703545884672,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 03:35:55+00:00,58111370,en,5592,0,0,27960
22596,22596,1461185651815202816,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 04:13:01+00:00,704060492696805376,en,5592,0,0,27960
11775,11775,1461337332011962376,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 14:15:44+00:00,1447990208402690048,en,5592,0,0,27960
46614,46614,1461503200280788992,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 01:14:51+00:00,768418834562764800,en,5592,0,0,27960
47400,47400,1461487406486458370,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 00:12:05+00:00,777811361317486592,en,5592,0,0,27960
11205,11205,1461343665352228868,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 14:40:54+00:00,315225597,en,5592,0,0,27960
12339,12339,1461331701699948548,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:53:22+00:00,246489247,en,5592,0,0,27960
12900,12900,1461325554641256451,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:28:56+00:00,815950819,en,5592,0,0,27960
12343,12343,1461331621559386113,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:53:03+00:00,518020116,en,5592,0,0,27960
6708,6708,1461396265426636806,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 18:09:55+00:00,3053272807,en,5592,0,0,27960
12332,12332,1461331761800126473,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:53:36+00:00,483376535,en,5592,0,0,27960
11232,11232,1461343269153951751,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 14:39:20+00:00,776412545103966208,en,5592,0,0,27960
12320,12320,1461331956629704712,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:54:23+00:00,83198271,en,5592,0,0,27960
9246,9246,1461366026193362954,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 16:09:46+00:00,1167841006311616512,en,5592,0,0,27960
11731,11731,1461337836246863873,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 14:17:45+00:00,1299525102481157888,en,5592,0,0,27960
12347,12347,1461331576944537607,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 13:52:52+00:00,2614098852,en,5592,0,0,27960
6759,6759,1461395644875255820,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 18:07:27+00:00,2960759187,en,5592,0,0,27960
11739,11739,1461337734119931906,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 14:17:20+00:00,169136017,en,5592,0,0,27960
47389,47389,1461487703749365764,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 00:13:16+00:00,3128659626,en,5592,0,0,27960
47388,47388,1461487730387521539,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 00:13:22+00:00,974100101181264000,en,5592,0,0,27960
9315,9315,1461365313333645313,"RT @jessehawken: The irony about ""superhero mo...",2021-11-18 16:06:56+00:00,63595490,en,5592,0,0,27960
47395,47395,1461487571050008581,"RT @jessehawken: The irony about ""superhero mo...",2021-11-19 00:12:44+00:00,876251540281061376,en,5592,0,0,27960

### <font color='green'>Answer(last part): Tweets shown above have largest level of amplification volume of this dataset. Tweets that have same amplification_volume are same retweeted tweets by different accounts.</font>

## Question 2. Analysis of highly amplified conversations (15 points)

### Please describe  5 highly amplified conversations which are trying to polarize or misinform.

## Tip: given a tweet.id it is possible to have a detailed look at twitter by appending this id to the url: https://twitter.com/anyuser/status/


### For instance given the tweet.id: 1461577564850319362 you can inspect its content by having a look at: https://twitter.com/anyuser/status/1461577564850319362

In [12]:
grouped_tweet_text = spainEnglishAll.groupby(["tweet.text"]).mean("amplification_volume").sort_values("amplification_volume", ascending=False)

In [13]:
grouped_tweet_text.shape

(22785, 6)

In [14]:
22785*2 #means that, there are some tweets got retweet from different accounts in these dataset.

45570

###  <font color='green'> This result means that, there are some tweets got retweet from different accounts in this dataset.</font>

In [15]:
grouped_tweet_text.head(25)

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #JAEHYUN\n#Spain #Sevilla https://t.co/pzRbU9G82o,23467,1290910527393210368,44845,0,0,224225
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127\n#JAEHYUN #MARK \n#Spain #Sevilla https://t.co/jPNpBlVUcJ,16238,550915711900380928,43945,0,0,219725
RT @NCTsmtown_127: Spain here we goooooo\n\n#NCT #NCT127 #MARK\n#NCT127inSpain https://t.co/3kuRW5nG1f,39357,1064006291087970432,35930,0,0,179650
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/XFbjF6fXt2,36979,1290852263092957184,34538,0,0,172688
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#NCT #NCT127 \n#Spain #Sevilla https://t.co/2xGKANRyR2,45333,1382234880465989632,32878,0,0,164390
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127\n#Spain #Sevilla https://t.co/11xjaXYrMh,45374,1382234880465989632,32632,0,0,163160
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #JAEHYUN\n#Spain #Sevilla https://t.co/7kFerMPKyq,33960,1306812996296015872,30490,0,0,152448
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\nüì∏ by #DOYOUNG \n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/0Vn0A4EPd4,45332,1382234880465989632,30038,0,0,150190
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/UAqpnZa6Wt,45336,1382234880465989632,27322,0,0,136610
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/k6s9q2YMw7,34516,1242033151548897280,27002,0,0,135008
RT @NCTsmtown_127: #Johnny's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #TAEYONG \n#Spain #Sevilla https://t.co/8CJuEZDXER,15299,1148751069979847296,26867,0,0,134335
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/HDFzIEXW0F,45334,1382234880465989632,26424,0,0,132120
RT @NCTsmtown_127: Amazing time in SPAINüá™üá∏\nGracias!!\n\n#NCT #NCT127 #JAEHYUN\n#MTVEMA @mtv @mtvema https://t.co/GleI9Lx9wC,23461,1290910527393210368,25251,0,0,126255
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/sC4u82eGYQ,43604,1385362683323533312,22858,0,0,114290
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/ohGvcNwi3Q,45337,1382234880465989632,21900,0,0,109500
RT @NCTsmtown_127: #Johnny's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/dfeRxHujtd,45335,1382234880465989632,21696,0,0,108480
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #TAEIL \n#Spain #Sevilla https://t.co/P2eRGildIN,40063,1430829012520214528,21457,0,0,107285
RT @MesutOzil1088: I grew up as a @Fenerbahce fan as a kid in Germany - every German-Turkish person supports a Turkish team when they grow‚Ä¶,2252,1245113611263057920,17801,0,0,89005
RT @LAPXURADELBUIO: what is happening in spain - a thread:,43940,1324927883446345728,16466,0,0,82330
"RT @AfricanArchives: African moors, who conquered Spain and ruled it for 700 years, were responsible for bringing Europe out of the dark ag‚Ä¶",34370,1366298396051582976,16115,0,0,80575
"RT @TheeAzanian: Normalize posting these poor parts of Europe like they do with Africa. Ca√±ada Real (just outside of Madrid), Spain. https:‚Ä¶",24472,1332043128319223808,13620,0,0,68100
"RT @bubbaprog: Here is how the Nicki Minaj story was covered on CNC3 Television in Port of Spain, Trinidad. I assure you this is worth all‚Ä¶",23267,1138552825,12637,0,0,63185
RT @viquirepublica: üìåThis is the real problem in Catalonia .... Spain is a Fascist State \nHow long are you going to shut up Europe? https:/‚Ä¶,19793,530809508266492672,9909,0,0,49545
EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWorld Cup 2010 winner: Spain üá™üá∏\n\nEURO 2012 top scorer: Gomez ‚öΩÔ∏è\nWorld Cup 2014 winner: Germany üá©üá™\n\nEURO 2016 top scorer: Griezmann ‚öΩÔ∏è\nWorld Cup 2018 winner: France üá´üá∑\n\nEURO 2020 top scorer: Ronaldo ‚öΩÔ∏è\nWorld Cup 2022 winner: ü§î https://t.co/NkAdzUjOxZ,2434,18091004,1568,740,15423,41646
RT @MaziNnamdiKanu: Gerard Pique is a World Cup winner with over 103 caps for Spain. He never turned his back against Catalonia freedom. Se‚Ä¶,24919,1416473790775795712,6073,0,0,30365

In [16]:
NCTsmtown_event = grouped_tweet_text[0:17]

In [17]:
NCTsmtown_event

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #JAEHYUN\n#Spain #Sevilla https://t.co/pzRbU9G82o,23467,1290910527393210368,44845,0,0,224225
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127\n#JAEHYUN #MARK \n#Spain #Sevilla https://t.co/jPNpBlVUcJ,16238,550915711900380928,43945,0,0,219725
RT @NCTsmtown_127: Spain here we goooooo\n\n#NCT #NCT127 #MARK\n#NCT127inSpain https://t.co/3kuRW5nG1f,39357,1064006291087970432,35930,0,0,179650
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/XFbjF6fXt2,36979,1290852263092957184,34538,0,0,172688
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#NCT #NCT127 \n#Spain #Sevilla https://t.co/2xGKANRyR2,45333,1382234880465989632,32878,0,0,164390
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127\n#Spain #Sevilla https://t.co/11xjaXYrMh,45374,1382234880465989632,32632,0,0,163160
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #JAEHYUN\n#Spain #Sevilla https://t.co/7kFerMPKyq,33960,1306812996296015872,30490,0,0,152448
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\nüì∏ by #DOYOUNG \n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/0Vn0A4EPd4,45332,1382234880465989632,30038,0,0,150190
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/UAqpnZa6Wt,45336,1382234880465989632,27322,0,0,136610
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/k6s9q2YMw7,34516,1242033151548897280,27002,0,0,135008
RT @NCTsmtown_127: #Johnny's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #TAEYONG \n#Spain #Sevilla https://t.co/8CJuEZDXER,15299,1148751069979847296,26867,0,0,134335
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/HDFzIEXW0F,45334,1382234880465989632,26424,0,0,132120
RT @NCTsmtown_127: Amazing time in SPAINüá™üá∏\nGracias!!\n\n#NCT #NCT127 #JAEHYUN\n#MTVEMA @mtv @mtvema https://t.co/GleI9Lx9wC,23461,1290910527393210368,25251,0,0,126255
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/sC4u82eGYQ,43604,1385362683323533312,22858,0,0,114290
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/ohGvcNwi3Q,45337,1382234880465989632,21900,0,0,109500
RT @NCTsmtown_127: #Johnny's Photo Diary:Spain\n\n#NCT #NCT127\n#Spain #Sevilla https://t.co/dfeRxHujtd,45335,1382234880465989632,21696,0,0,108480
RT @NCTsmtown_127: #Johnny 's Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #TAEIL \n#Spain #Sevilla https://t.co/P2eRGildIN,40063,1430829012520214528,21457,0,0,107285

### <font color='green'> The biggest conversation that has large amplification of misinformation is NCT 127 pop group in given tweets or dates. Some accounts share old pictures of the group, in order to show them like they are in Spain. According to https://www.newsnow.co.uk/h/Entertainment+&+Arts/Music/K-Pop/SM+Entertainment/NCT, group was in USA at given dates. These conversations can be part of marketing operation by bots or fake accounts. Aim of operation can be increase the popularity of the group.</font>

In [18]:
spainEnglishAll.iloc[2252]

Unnamed: 0                                                                   2252
tweeet.id                                                     1461451876000489474
tweet.text                      RT @MesutOzil1088: I grew up as a @Fenerbahce ...
tweet.created_at                                        2021-11-18 21:50:54+00:00
tweet.author_id                                               1245113611263057920
tweet.lang                                                                     en
public_metrics.retweet_count                                                17801
public_metrics.reply_count                                                      0
public_metrics.like_count                                                       0
amplification_volume                                                        89005
Name: 2252, dtype: object

In [19]:
grouped_tweet_text[17:18]

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
RT @MesutOzil1088: I grew up as a @Fenerbahce fan as a kid in Germany - every German-Turkish person supports a Turkish team when they grow‚Ä¶,2252,1245113611263057920,17801,0,0,89005

###  <font color='green'>Second conversation that had big amplification volume is a tweet that can used by people who want to polarise the country. In these tweet, Mesut Ozil who is a famous football player, claim that Real Madrid is the biggest team of Spain and by saying that he created suitable opportunity to people who can increase the polarisation in Spain.</font>

In [20]:
spainEnglishAll.iloc[43940]

Unnamed: 0                                                                  43940
tweeet.id                                                     1461577564850319362
tweet.text                      RT @LAPXURADELBUIO: what is happening in spain...
tweet.created_at                                        2021-11-19 06:10:20+00:00
tweet.author_id                                               1324927883446345728
tweet.lang                                                                     en
public_metrics.retweet_count                                                16466
public_metrics.reply_count                                                      0
public_metrics.like_count                                                       0
amplification_volume                                                        82330
Name: 43940, dtype: object

In [21]:
grouped_tweet_text[18:19]

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
RT @LAPXURADELBUIO: what is happening in spain - a thread:,43940,1324927883446345728,16466,0,0,82330

### <font color='green'>Third conversation that had big amplification volume in these dataset is a retweet of a tweet that published in 5 Jul 2021. This tweet emphasise that Spanish policemen are targeting Lgbtq2+ community in Spain. This post is clearly misinformation about Spain.</font>

In [22]:
spainEnglishAll.iloc[34370]

Unnamed: 0                                                                  34370
tweeet.id                                                     1461716582602657792
tweet.text                      RT @AfricanArchives: African moors, who conque...
tweet.created_at                                        2021-11-19 15:22:45+00:00
tweet.author_id                                               1366298396051582976
tweet.lang                                                                     en
public_metrics.retweet_count                                                16115
public_metrics.reply_count                                                      0
public_metrics.like_count                                                       0
amplification_volume                                                        80575
Name: 34370, dtype: object

In [23]:
grouped_tweet_text[19:20]

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
"RT @AfricanArchives: African moors, who conquered Spain and ruled it for 700 years, were responsible for bringing Europe out of the dark ag‚Ä¶",34370,1366298396051582976,16115,0,0,80575

### <font color='green'>Fourth conversation that has big amplification volume is about history. In this conversation, some account claim that black African people introduce education to the European people. This claim is misinformation. Because people who invaded Spain was leading by Arabic dynasty. In addition to that, even Arabic state had further education quality against Europeans, their effects cannot be only reason of increasing education level in West.</font>

In [24]:
spainEnglishAll.iloc[41984]

Unnamed: 0                                                                  41984
tweeet.id                                                     1461611790907809795
tweet.text                      RT @TheeAzanian: Normalize posting these poor ...
tweet.created_at                                        2021-11-19 08:26:21+00:00
tweet.author_id                                               1412044637288779776
tweet.lang                                                                     en
public_metrics.retweet_count                                                13620
public_metrics.reply_count                                                      0
public_metrics.like_count                                                       0
amplification_volume                                                        68100
Name: 41984, dtype: object

In [25]:
grouped_tweet_text[20:21]

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
"RT @TheeAzanian: Normalize posting these poor parts of Europe like they do with Africa. Ca√±ada Real (just outside of Madrid), Spain. https:‚Ä¶",24472,1332043128319223808,13620,0,0,68100

### <font color='green'>Fifth biggest conversation is a retweet of a tweet like previous conversations. This tweet has misinformation. Because people in the pictures claimed that they are from Spain and they are living in very poor conditions. However, people in the reply section say that they are refugees or this pictures have taken in some Asian country. There is no clear evidence that where is the pictures have taken and who the settlers are in the pictures. </font>

## Question 3. Compute the z-score of the column "public_metrics.retweet_count" (15 points)
## tip: refer to the definition of Z-score at" https://www.statisticshowto.com/probability-and-statistics/z-score/

In [26]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0,7840
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0,190
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" ‚Äî by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0,450
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5,10
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0,170
...,...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0,0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0,90
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1,2
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0,605
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0,0

In [27]:
np_retweet_counts = np.array(spainEnglishAll["public_metrics.retweet_count"])

In [28]:
np.nanmean(np_retweet_counts)

233.72148011022992

In [29]:
np.nanstd(np_retweet_counts)

959.4851708357776

In [30]:
z_score = (np_retweet_counts-np.nanmean(np_retweet_counts)) / np.nanstd(np_retweet_counts)

In [31]:
z_score

array([ 1.39061922, -0.20398594, -0.1497902 , ..., -0.24359051,
       -0.11748121, -0.24359051])

In [32]:
z_score.shape

(47550,)

In [33]:
z_score[0]

1.3906192200214222

In [34]:
spainEnglishAll["z_score_retweet"] = (spainEnglishAll["public_metrics.retweet_count"]-spainEnglishAll["public_metrics.retweet_count"].mean()) / spainEnglishAll["public_metrics.retweet_count"].std()

In [35]:
spainEnglishAll

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
0,0,1461484086892146692,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-18 23:58:54+00:00,3239744421,en,1568,0,0,7840,1
1,1,1461484079245840390,RT @MrGeepGeep: SOE is over and now is the tim...,2021-11-18 23:58:52+00:00,2312771653,en,38,0,0,190,-0
2,2,1461484043187462149,"RT @AnittaCrave: ""Envolver"" ‚Äî by Anitta will d...",2021-11-18 23:58:43+00:00,1296857652677550080,en,90,0,0,450,-0
3,3,1461483982105763842,"Men jewelry - Madrid, Spain \n@GuilleRBRB htt...",2021-11-18 23:58:29+00:00,1071703322166480768,en,0,0,5,10,-0
4,4,1461483978658127872,"RT @Foreign_Cat: #Turkey &amp; #Spain, partner...",2021-11-18 23:58:28+00:00,1142741725225652224,en,34,0,0,170,-0
...,...,...,...,...,...,...,...,...,...,...,...
47545,47545,1461484434209783814,@only1womble @SimonJonesNews @pritipatel Someo...,2021-11-19 00:00:16+00:00,1733373504,en,0,0,0,0,-0
47546,47546,1461484401712414722,RT @ancientorigins: A team of #scientists has ...,2021-11-19 00:00:09+00:00,100887413,en,18,0,0,90,-0
47547,47547,1461484391255977994,On #Friday Amazing time in #SabatiniGardens #M...,2021-11-19 00:00:06+00:00,995441471938580352,en,0,0,1,2,-0
47548,47548,1461484374558490625,RT @THEMAXHILTON: The wait is over ! you have...,2021-11-19 00:00:02+00:00,832015137263452160,en,121,0,0,605,-0
47549,47549,1461484366325035009,#Barcelona Nov 19 01:00 Temperature 10C Wind N...,2021-11-19 00:00:00+00:00,258025521,en,0,0,0,0,-0

## Question 4. Filter conversations with a z-score larger than 10. (15 points)

In [36]:
filter_z_score = []

In [37]:
for i in z_score:
    if i>10:
        filter_z_score.append(i)
print(filter_z_score)

[10.083822881245718, 18.309067251750708, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 13.951522052424636, 10.083822881245718, 45.557013123834146, 27.757884467031786, 10.083822881245718, 10.083822881245718, 27.757884467031786, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 12.927014295682822, 27.757884467031786, 26.073647910679014, 31.532825560540285, 46.49501615645636, 35.75175475615663, 45.557013123834146, 27.897542696333314, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 10.083822881245718, 16.55187490397177, 37.20357500553745, 22.11944401538049, 10.083822881245718, 10.083822881245718, 10.083822881245718, 23.579602069495735, 10.083822881245718, 35.75279698174843, 13.951522052424636, 10.083822881245718, 10.083822881245718, 16.91769608669443, 31.533867786132088, 31.062781818637376, 34.022702499356356, 27.296178529863298, 22.368535931821278, 28.232097111301904, 22.58114995254898, 35.75279698174843, 33.76631500377295, 27.898584921925117, 23.579602069495735]

In [38]:
len(filter_z_score)

62

In [39]:
answer_four = spainEnglishAll[spainEnglishAll["z_score_retweet"]>10.00]

In [40]:
answer_four.shape

(62, 11)

In [41]:
answer_four

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
859,859,1461469510586839047,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 23:00:58+00:00,1036271517699587968,en,9909,0,0,49545,10
2252,2252,1461451876000489474,RT @MesutOzil1088: I grew up as a @Fenerbahce ...,2021-11-18 21:50:54+00:00,1245113611263057920,en,17801,0,0,89005,18
3009,3009,1461442074184720387,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 21:11:57+00:00,955569674737127424,en,9909,0,0,49545,10
4527,4527,1461421081105948679,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:48:32+00:00,1097937228607700992,en,9909,0,0,49545,10
4585,4585,1461420287510159373,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:45:23+00:00,1371813880343711488,en,9909,0,0,49545,10
5082,5082,1461415007846117376,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:24:24+00:00,2949011187,en,9909,0,0,49545,10
5403,5403,1461413368959492108,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:17:53+00:00,16095339,en,9909,0,0,49545,10
5484,5484,1461412419377537025,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:14:07+00:00,2385072439,en,9909,0,0,49545,10
5530,5530,1461411825971515395,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 19:11:45+00:00,984144046833721216,en,9909,0,0,49545,10
6012,6012,1461405606540103682,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 18:47:02+00:00,2766567177,en,9909,0,0,49545,10
6960,6960,1461393296190840837,RT @TheeAzanian: Normalize posting these poor ...,2021-11-18 17:58:07+00:00,1252041619349667840,en,13620,0,0,68100,14
6999,6999,1461392799459385347,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 17:56:09+00:00,591623368,en,9909,0,0,49545,10
8820,8820,1461371211343020033,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 16:30:22+00:00,1168957082,en,43945,0,0,219725,46
9806,9806,1461359523298377745,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 15:43:55+00:00,1014802699680771968,en,26867,0,0,134335,28
10645,10645,1461349756005806089,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 15:05:07+00:00,2507221911,en,9909,0,0,49545,10
10855,10855,1461347421116502019,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 14:55:50+00:00,279175765,en,9909,0,0,49545,10
12779,12779,1461327131057680386,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 13:35:12+00:00,1140539982865559552,en,26867,0,0,134335,28
14561,14561,1461307600562266117,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 12:17:36+00:00,372569108,en,9909,0,0,49545,10
15812,15812,1461293000001208324,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 11:19:35+00:00,977304500338937984,en,9909,0,0,49545,10
15874,15874,1461292250927972353,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 11:16:36+00:00,4178285177,en,9909,0,0,49545,10
16547,16547,1461283995266830338,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 10:43:48+00:00,62527457,en,9909,0,0,49545,10
18817,18817,1461253366483402754,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:42:06+00:00,2941373397,en,9909,0,0,49545,10
18871,18871,1461252721122721793,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:39:32+00:00,911620587990261760,en,9909,0,0,49545,10
18896,18896,1461252366175453184,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:38:07+00:00,918435613698863232,en,9909,0,0,49545,10
18905,18905,1461252203105206277,RT @viquirepublica: üìåThis is the real problem ...,2021-11-18 08:37:28+00:00,910607855434203136,en,9909,0,0,49545,10
23267,23267,1461168528757829633,RT @bubbaprog: Here is how the Nicki Minaj sto...,2021-11-18 03:04:59+00:00,1138552825,en,12637,0,0,63185,13
23311,23311,1461167495809617921,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 03:00:52+00:00,1290910527393210368,en,26867,0,0,134335,28
23461,23461,1461162923057827840,RT @NCTsmtown_127: Amazing time in SPAINüá™üá∏\nGr...,2021-11-18 02:42:42+00:00,1290910527393210368,en,25251,0,0,126255,26
23465,23465,1461162702307426312,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-18 02:41:49+00:00,1290910527393210368,en,30489,0,0,152445,32
23467,23467,1461162679809155076,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:41:44+00:00,1290910527393210368,en,44845,0,0,224225,46
23655,23655,1461157789397438464,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:18+00:00,1101831422631804800,en,34537,0,0,172685,36
23656,23656,1461157780664901633,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:16+00:00,1101831422631804800,en,43945,0,0,219725,46
23658,23658,1461157760607739909,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:11+00:00,1101831422631804800,en,27001,0,0,135005,28
29595,29595,1461776690099728385,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 19:21:36+00:00,1186745463485145088,en,9909,0,0,49545,10
30531,30531,1461764692653887496,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 18:33:55+00:00,1676132136,en,9909,0,0,49545,10
32104,32104,1461744173653139459,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 17:12:23+00:00,1248567610784067584,en,9909,0,0,49545,10
32155,32155,1461743601382268936,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 17:10:07+00:00,1185923273772675072,en,9909,0,0,49545,10
32963,32963,1461733446355669006,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 16:29:45+00:00,493874600,en,9909,0,0,49545,10
34370,34370,1461716582602657792,"RT @AfricanArchives: African moors, who conque...",2021-11-19 15:22:45+00:00,1366298396051582976,en,16115,0,0,80575,17
39357,39357,1461649200882405377,RT @NCTsmtown_127: Spain here we goooooo\n\n#N...,2021-11-19 10:55:00+00:00,1064006291087970432,en,35930,0,0,179650,37
40063,40063,1461639063329550344,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 10:14:43+00:00,1430829012520214528,en,21457,0,0,107285,22
40431,40431,1461634086292840448,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 09:54:56+00:00,429415976,en,9909,0,0,49545,10
40612,40612,1461631578107482112,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 09:44:58+00:00,1215225159508021248,en,9909,0,0,49545,10
41506,41506,1461619083162664963,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:55:19+00:00,1334365136660869120,en,9909,0,0,49545,10
41830,41830,1461614169296306178,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 08:35:48+00:00,1388490486181076992,en,22858,0,0,114290,24
41844,41844,1461613986038919171,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:35:04+00:00,1120563183675166848,en,9909,0,0,49545,10
41908,41908,1461613145219239944,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 08:31:43+00:00,1388490486181076992,en,34538,0,0,172690,36
41984,41984,1461611790907809795,RT @TheeAzanian: Normalize posting these poor ...,2021-11-19 08:26:21+00:00,1412044637288779776,en,13620,0,0,68100,14
42229,42229,1461608131411255297,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:11:48+00:00,906324457,en,9909,0,0,49545,10
42346,42346,1461606317567754240,RT @viquirepublica: üìåThis is the real problem ...,2021-11-19 08:04:36+00:00,135942979,en,9909,0,0,49545,10
43940,43940,1461577564850319362,RT @LAPXURADELBUIO: what is happening in spain...,2021-11-19 06:10:20+00:00,1324927883446345728,en,16466,0,0,82330,17
44456,44456,1461565440879206401,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 05:22:10+00:00,1322715465198821376,en,30490,0,0,152450,32
45332,45332,1461539163207995397,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:37:45+00:00,1382234880465989632,en,30038,0,0,150190,31
45333,45333,1461539133520695297,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:37:38+00:00,1382234880465989632,en,32878,0,0,164390,34
45334,45334,1461539103741149186,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:31+00:00,1382234880465989632,en,26424,0,0,132120,27
45335,45335,1461539081725251585,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-19 03:37:25+00:00,1382234880465989632,en,21696,0,0,108480,22
45336,45336,1461539044974731265,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:17+00:00,1382234880465989632,en,27322,0,0,136610,28
45337,45337,1461539030298886147,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:37:13+00:00,1382234880465989632,en,21900,0,0,109500,23
45373,45373,1461537918900600843,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:48+00:00,1382234880465989632,en,34538,0,0,172690,36
45374,45374,1461537902106537991,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:44+00:00,1382234880465989632,en,32632,0,0,163160,34
45375,45375,1461537878991781892,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-19 03:32:39+00:00,1382234880465989632,en,27002,0,0,135010,28
45378,45378,1461537845516984321,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 03:32:31+00:00,1382234880465989632,en,22858,0,0,114290,24

## Question 5. Find the top 5 amplifiers (15 points)

### <font color='green'>We consider amplifiers those twitter users who are involved in highly amplified conversations.</font>

In [42]:
spainEnglishAll.groupby(["tweet.author_id"]).mean("amplification_volume").sort_values("amplification_volume", ascending=False).head(5)

,Unnamed: 0,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
tweet.author_id,,,,,,
1168957082,8820,43945,0,0,219725,46
1064006291087970432,39357,35930,0,0,179650,37
1101831422631804800,23656,35161,0,0,175805,36
1290910527393210368,23426,31863,0,0,159315,33
1322715465198821376,44456,30490,0,0,152450,32

### <font color='green'>Answer: For this question, we need to look average number of amplification of every tweets for per tweet.author_id. If the number is high, these accounts only retweet, like or reply in high amplified conversations in this given dataset.</font>

In [43]:
grouped_tweet_text.head(5)

,Unnamed: 0,tweet.author_id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume
tweet.text,,,,,,
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography \n#NCT #NCT127 #JAEHYUN\n#Spain #Sevilla https://t.co/pzRbU9G82o,23467,1290910527393210368,44845,0,0,224225
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127\n#JAEHYUN #MARK \n#Spain #Sevilla https://t.co/jPNpBlVUcJ,16238,550915711900380928,43945,0,0,219725
RT @NCTsmtown_127: Spain here we goooooo\n\n#NCT #NCT127 #MARK\n#NCT127inSpain https://t.co/3kuRW5nG1f,39357,1064006291087970432,35930,0,0,179650
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#Johntography\n#NCT #NCT127 #DOYOUNG \n#Spain #Sevilla https://t.co/XFbjF6fXt2,36979,1290852263092957184,34538,0,0,172688
RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain\n\n#NCT #NCT127 \n#Spain #Sevilla https://t.co/2xGKANRyR2,45333,1382234880465989632,32878,0,0,164390

In [44]:
spainEnglishAll[spainEnglishAll["tweet.author_id"]==1168957082]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
8820,8820,1461371211343020033,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 16:30:22+00:00,1168957082,en,43945,0,0,219725,46

In [45]:
spainEnglishAll[spainEnglishAll["tweet.author_id"]==1064006291087970432]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
39357,39357,1461649200882405377,RT @NCTsmtown_127: Spain here we goooooo\n\n#N...,2021-11-19 10:55:00+00:00,1064006291087970432,en,35930,0,0,179650,37

In [46]:
spainEnglishAll[spainEnglishAll["tweet.author_id"]==1101831422631804800]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
23655,23655,1461157789397438464,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:18+00:00,1101831422631804800,en,34537,0,0,172685,36
23656,23656,1461157780664901633,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:16+00:00,1101831422631804800,en,43945,0,0,219725,46
23658,23658,1461157760607739909,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:22:11+00:00,1101831422631804800,en,27001,0,0,135005,28

In [47]:
spainEnglishAll[spainEnglishAll["tweet.author_id"]==1290910527393210368]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
23311,23311,1461167495809617921,RT @NCTsmtown_127: #Johnny's Photo Diary:Spain...,2021-11-18 03:00:52+00:00,1290910527393210368,en,26867,0,0,134335,28
23461,23461,1461162923057827840,RT @NCTsmtown_127: Amazing time in SPAINüá™üá∏\nGr...,2021-11-18 02:42:42+00:00,1290910527393210368,en,25251,0,0,126255,26
23465,23465,1461162702307426312,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-18 02:41:49+00:00,1290910527393210368,en,30489,0,0,152445,32
23467,23467,1461162679809155076,RT @NCTsmtown_127: #Johnny‚Äôs Photo Diary:Spain...,2021-11-18 02:41:44+00:00,1290910527393210368,en,44845,0,0,224225,46

In [48]:
spainEnglishAll[spainEnglishAll["tweet.author_id"]==1322715465198821376]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet
44456,44456,1461565440879206401,RT @NCTsmtown_127: #Johnny 's Photo Diary:Spai...,2021-11-19 05:22:10+00:00,1322715465198821376,en,30490,0,0,152450,32

###  <font color='green'>As we can see, tweet.author_id numbers 1290910527393210368 and 1101831422631804800 have joined highest amplified conversations, but they also have joined less amplified conversations too. Thus, their average amplification_volume got decrease.</font>

## Question 6. Extract, from the text colum, information on who created the conversation in the first place (15 points)
### Tip: retweeted conversations start with the pattern RT@
### For illustration purposes, the text "RT @20splentyforus: France, like UK should set a national 30km/h or 20mph urban default limit." was originally created by @20splentyforus
### Tip2. consider applying a regex pattern to the DataFrame using apply method

In [49]:
spainEnglishAll["tweet.text"].dtype

dtype('O')

In [50]:
spainEnglishAll["public_metrics.retweet_count"].dtype

dtype('float64')

In [51]:
tweet_text_str = spainEnglishAll["tweet.text"].astype(str)

In [52]:
original_accountt = tweet_text_str.str.extract(r"(^RT.@[a-zA-Z|\d]*.[a-zA-Z|\d]*)", expand=False)

In [53]:
original_accountt

0                RT @ESPNFC:
1            RT @MrGeepGeep:
2           RT @AnittaCrave:
3                        NaN
4            RT @Foreign_Cat
                ...
47545                    NaN
47546    RT @ancientorigins:
47547                    NaN
47548      RT @THEMAXHILTON:
47549                    NaN
Name: tweet.text, Length: 47550, dtype: object

In [54]:
spainEnglishAll["original_account"] = original_accountt

In [55]:
spainEnglishAll.loc["34123":"34234"]

,Unnamed: 0,tweeet.id,tweet.text,tweet.created_at,tweet.author_id,tweet.lang,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,amplification_volume,z_score_retweet,original_account
34123,34123,1461719597602672643,RT @FootballlForAll: üö®‚öΩÔ∏è | Fifa have released ...,2021-11-19 15:34:44+00:00,1393559650465943552,en,93,0,0,465,-0,RT @FootballlForAll:
34124,34124,1461719594046038017,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-19 15:34:43+00:00,1442550952611889152,en,1568,0,0,7840,1,RT @ESPNFC:
34125,34125,1461719585166667776,LOVE SummerTime TV. Ocean City Christmas light...,2021-11-19 15:34:41+00:00,364789232,en,0,1,0,4,-0,NaN
34126,34126,1461719583862177792,RT @JusticeTourNews: .@justinbieber‚Äôs ‚ÄúJustice...,2021-11-19 15:34:40+00:00,1137080751135100800,en,310,0,0,1550,0,RT @JusticeTourNews:
34127,34127,1461719564551528451,Boris 'CLEARED' over refusal to declare Spain ...,2021-11-19 15:34:36+00:00,1420660507,en,0,0,0,0,-0,NaN
34128,34128,1461719560449626125,RT @CanYamanMedia: üá™üá∏üóû| #CanYaman in Spain: th...,2021-11-19 15:34:35+00:00,1211884597924909056,en,59,0,0,295,-0,RT @CanYamanMedia:
34129,34129,1461719540786733064,@Abelsinho @FabrizioRomano @Ramon_AlvarezMM I‚Äô...,2021-11-19 15:34:30+00:00,875877882,en,0,1,0,4,-0,NaN
34130,34130,1461719508901666822,‚¨õÔ∏è‚¨úÔ∏è‚ÄºÔ∏è #Spain's police considers that protesti...,2021-11-19 15:34:23+00:00,732700920,en,17,0,12,109,-0,NaN
34131,34131,1461719502257889290,RT @sat_purusha: #FollowBackFriday... It's col...,2021-11-19 15:34:21+00:00,124296126,en,47,0,0,235,-0,RT @sat_purusha
34132,34132,1461719483471573003,üá™üá∏üóû| #CanYaman in Spain: this will be the retu...,2021-11-19 15:34:16+00:00,1284939145522089984,en,59,1,190,679,-0,NaN
34133,34133,1461719464408494086,RT @exolrauhl: Amsterdam tickets sold out\nIta...,2021-11-19 15:34:12+00:00,1002195582088343552,en,3,0,0,15,-0,RT @exolrauhl:
34134,34134,1461719441054466048,@helen0002 @RobPorter9 @Fran__Jacobs @JeremyVi...,2021-11-19 15:34:06+00:00,52786066,en,0,0,0,0,-0,NaN
34135,34135,1461719378614009856,RT @Daily_Express: #QueenLetizia of Spain wear...,2021-11-19 15:33:51+00:00,72606616,en,4,0,0,20,-0,RT @Daily_Express
34136,34136,1461719355209576452,Max play in Spain today. \n\nWe actually grabb...,2021-11-19 15:33:46+00:00,1181169181561167872,en,2,8,34,110,-0,NaN
34137,34137,1461719347957743616,RT @FootyRustling: Throwback to when Liverpool...,2021-11-19 15:33:44+00:00,143379590,en,1144,0,0,5720,1,RT @FootyRustling:
34138,34138,1461719347697643528,RT @ArchDaily: House 1603 / Nordest Arquitectu...,2021-11-19 15:33:44+00:00,131078236,en,92,0,0,460,-0,RT @ArchDaily:
34139,34139,1461719313723924481,RT @FootballlForAll: üö®‚öΩÔ∏è | Fifa have released ...,2021-11-19 15:33:36+00:00,762741335606648832,en,93,0,0,465,-0,RT @FootballlForAll:
34140,34140,1461719300008517635,On my way to the Peaks of Europe in Northern S...,2021-11-19 15:33:33+00:00,1324765468381614080,en,0,2,5,18,-0,NaN
34141,34141,1461719292823625728,RT @chefjoseandres: And we do it in Spain!!!üòî@...,2021-11-19 15:33:31+00:00,942483137376014336,en,6,0,0,30,-0,RT @chefjoseandres:
34142,34142,1461719290827231241,"RT @interinoktaldea: Dear @NicolasSchmitEU, ou...",2021-11-19 15:33:31+00:00,1458135032980295680,en,72,0,0,360,-0,RT @interinoktaldea:
34143,34143,1461719273966084106,'The Imperium is driven by hate. Warhammer is ...,2021-11-19 15:33:27+00:00,498308064,en,2,0,13,36,-0,NaN
34144,34144,1461719269209690116,RT @Elemjay1: Fiesta week in Benidorm. They vo...,2021-11-19 15:33:25+00:00,137399442,en,14,0,0,70,-0,RT @Elemjay1:
34145,34145,1461719262939258881,"@iamorimz @TexTheLaw He speaks French, Spanish...",2021-11-19 15:33:24+00:00,273106993,en,0,1,1,6,-0,NaN
34146,34146,1461719253997002760,@jimmy_hell @BeanDaddyBoog @DirtyAnarchist The...,2021-11-19 15:33:22+00:00,877032726657945600,en,0,0,1,2,-0,NaN
34147,34147,1461719252696813574,RT @Russian_Council: #Ceuta2021 ‚Äî Another cris...,2021-11-19 15:33:21+00:00,3021258574,en,1,0,0,5,-0,RT @Russian_Council
34148,34148,1461719234673790976,RT @QuislingT: Spain \n\nSpared a new wave tha...,2021-11-19 15:33:17+00:00,41805583,en,8,0,0,40,-0,RT @QuislingT:
34149,34149,1461719221252022286,RT @keewa: Recently at a Grand Tournament in S...,2021-11-19 15:33:14+00:00,2886242745,en,42,0,0,210,-0,RT @keewa:
34150,34150,1461719216164417542,RT @JusticeTourNews: .@justinbieber‚Äôs ‚ÄúJustice...,2021-11-19 15:33:13+00:00,2875344476,en,310,0,0,1550,0,RT @JusticeTourNews:
34151,34151,1461719206324420611,"im in spain but the s is hella silent, PAIN PA...",2021-11-19 15:33:10+00:00,1176358311408521216,en,0,0,0,0,-0,NaN
34152,34152,1461719194802827275,RT @ESPNFC: EURO 2008 top scorer: Villa ‚öΩÔ∏è\nWo...,2021-11-19 15:33:08+00:00,876278437,en,1568,0,0,7840,1,RT @ESPNFC:
34153,34153,1461719192407875589,Competition is all too familiar with iKaoss. H...,2021-11-19 15:33:07+00:00,1161967002665271296,en,4,1,94,212,-0,NaN
34154,34154,1461719189450747905,spain https://t.co/Hp1Ndj1f7F,2021-11-19 15:33:06+00:00,1262424175626670080,en,0,1,5,14,-0,NaN
34155,34155,1461719184946221061,:üö®NEW EPISODE ALERT! We speak to Azareen Van d...,2021-11-19 15:33:05+00:00,1306425444623880192,en,1,0,1,7,-0,NaN
34156,34156,1461719134035746825,"@AvacadosFromMex @lays_barbecue Additionally, ...",2021-11-19 15:32:53+00:00,4284486972,en,0,1,1,6,-0,NaN
34157,34157,1461719129547808773,@CatGundryBeck Class I was only googling yeste...,2021-11-19 15:32:52+00:00,242138379,en,0,1,1,6,-0,NaN
34158,34158,1461719105728180230,RT @Jackspektra: I wanted to go to LFL next ye...,2021-11-19 15:32:46+00:00,1045461620879773568,en,116,0,0,580,-0,RT @Jackspektra:
34159,34159,1461719037470150657,RT @FootballlForAll: üö®‚öΩÔ∏è | Fifa have released ...,2021-11-19 15:32:30+00:00,1292842708067745792,en,93,0,0,465,-0,RT @FootballlForAll:
34160,34160,1461719036648210441,"@WestlifeIE my guess would be Australia, New Z...",2021-11-19 15:32:30+00:00,152766660,en,0,3,4,20,-0,NaN
34161,34161,1461719035792568335,RT @Petrit: It may seem like a nuance but it‚Äôs...,2021-11-19 15:32:30+00:00,1337776396224110592,en,1,0,0,5,-0,RT @Petrit:
34162,34162,1461719028129570818,more of jennifer lawrence for marie claire spa...,2021-11-19 15:32:28+00:00,1024394497000697984,en,7,1,116,271,-0,NaN
34163,34163,1461719025411670020,"RT @SUR_English: Two months on, no one dares t...",2021-11-19 15:32:27+00:00,979061120672698368,en,1,0,0,5,-0,RT @SUR_English
34164,34164,1461719020856619014,RT @paullewismoney: PM declares ¬£1800 stay at ...,2021-11-19 15:32:26+00:00,569921322,en,335,0,0,1675,0,RT @paullewismoney:
34165,34165,1461719015571742741,RT @ArchDaily: House 1603 / Nordest Arquitectu...,2021-11-19 15:32:25+00:00,1252802408708628480,en,92,0,0,460,-0,RT @ArchDaily:
34166,34166,1461718985238622221,MUNDO INQUIETO.\n\nDozens of Palestinians use ...,2021-11-19 15:32:18+00:00,4868207464,en,0,0,0,0,-0,NaN
34167,34167,1461718984919769101,A very busy few weeks - first to Dallas for AR...,2021-11-19 15:32:18+00:00,43094136,en,0,0,0,0,-0,NaN
34168,34168,1461718975805493248,RT @annaholligan: Dutch foreign ministry aware...,2021-11-19 15:32:15+00:00,1193649187834871808,en,8,0,0,40,-0,RT @annaholligan:
34169,34169,1461718962161418244,RT @gemprojecmarket: **Now launched in 38 coun...,2021-11-19 15:32:12+00:00,1348738199309455360,en,43,0,0,215,-0,RT @gemprojecmarket:
34170,34170,1461718959204536324,"B cool, B Barcelona https://t.co/mqeJgc5PBh",2021-11-19 15:32:11+00:00,197465637,en,2,0,3,16,-0,NaN
34171,34171,1461718950572699648,@Marcel_Hampel Happy friday and thank you for ...,2021-11-19 15:32:09+00:00,2470518985,en,4,1,20,64,-0,NaN
34172,34172,1461718941936586765,"RT @marxistJorge: 20,000 engineering workers i...",2021-11-19 15:32:07+00:00,1121729785879724032,en,84,0,0,420,-0,RT @marxistJorge:
34173,34173,1461718927277502465,Walking Barcelona‚Äôs FAMOUS LA RAMBLA at Dusk/N...,2021-11-19 15:32:04+00:00,117301002,en,0,0,0,0,-0,NaN
34174,34174,1461718925679415304,"RT @chirayusomani: Stuck in Madrid, Spain as w...",2021-11-19 15:32:03+00:00,142364073,en,6,0,0,30,-0,RT @chirayusomani:
34175,34175,1461718924458872833,"@SaskNeoliberal @DIorioNathaniel Uh, I said ""m...",2021-11-19 15:32:03+00:00,1446530644545257472,en,0,1,0,4,-0,NaN
34176,34176,1461718903604797445,RT @MarxMedia: They say that the Almeria green...,2021-11-19 15:31:58+00:00,1229434060172406784,en,5,0,0,25,-0,RT @MarxMedia:
34177,34177,1461718896734580737,RT @F1_1980_1989: Philippe Alliot üá´üá∑ \n(1980s ...,2021-11-19 15:31:57+00:00,968074568970723200,en,5,0,0,25,-0,RT @F1_1980
34178,34178,1461718893995638786,"RT @BintingM: Madrid, Spain üá™üá∏ ...",2021-11-19 15:31:56+00:00,1340361080003039232,en,861,0,0,4305,1,RT @BintingM:
34179,34179,1461718883438583811,RT @AmaliaDache: 4) Any country keeping the mi...,2021-11-19 15:31:53+00:00,14839788,en,5,0,0,25,-0,RT @AmaliaDache:
34180,34180,1461718883069571077,RT @F1_1980_1989: Jean Alesi üá´üá∑\n(1980s stats ...,2021-11-19 15:31:53+00:00,968074568970723200,en,4,0,0,20,-0,RT @F1_1980
34181,34181,1461718869891067905,@Sans_Desseins @volkvulture1 @AnarkYouTube @je...,2021-11-19 15:31:50+00:00,1270371612341219328,en,0,1,0,4,-0,NaN
34182,34182,1461718847623512075,RT @rhi_ihr: Are you interested in the interna...,2021-11-19 15:31:45+00:00,1434766700927496192,en,5,0,0,25,-0,RT @rhi_ihr
34183,34183,1461718846922911744,"RT @marxistJorge: 20,000 engineering workers i...",2021-11-19 15:31:45+00:00,898321288783052800,en,84,0,0,420,-0,RT @marxistJorge:
34184,34184,1461718791428182021,RT @Jackspektra: I wanted to go to LFL next ye...,2021-11-19 15:31:31+00:00,1023691055584169984,en,116,0,0,580,-0,RT @Jackspektra:
34185,34185,1461718778455236615,"@PTY_Felix @BobbySoloX Yes, the game is now av...",2021-11-19 15:31:28+00:00,1320812676558323712,en,0,0,0,0,-0,NaN
34186,34186,1461718774047023114,"RT @ArtifactsHub: The Lady of Elche Elche, Spa...",2021-11-19 15:31:27+00:00,2598856659,en,124,0,0,620,-0,RT @ArtifactsHub:
34187,34187,1461718766568443906,"RT @chirayusomani: Stuck in Madrid, Spain as w...",2021-11-19 15:31:26+00:00,1101523426450329600,en,6,0,0,30,-0,RT @chirayusomani:
34188,34188,1461718739783720979,"RT @gauravdangi17: Stuck in Madrid, Spain, Was...",2021-11-19 15:31:19+00:00,142364073,en,1,0,0,5,-0,RT @gauravdangi17:
34189,34189,1461718739116769282,RT @Jackspektra: I wanted to go to LFL next ye...,2021-11-19 15:31:19+00:00,1026607238327226368,en,116,0,0,580,-0,RT @Jackspektra:
34190,34190,1461718729423790091,The latest News about properties and lifestyle...,2021-11-19 15:31:17+00:00,4017243394,en,0,0,1,2,-0,NaN
34191,34191,1461718714932416513,@_stars_scars_ Spain,2021-11-19 15:31:13+00:00,2719518804,en,0,0,0,0,-0,NaN
34192,34192,1461718702995349507,@KennethWReid I'm listening to your recent ep ...,2021-11-19 15:31:10+00:00,11391972,en,0,1,1,6,-0,NaN
34193,34193,1461718699606487046,"RT @charliebilello: % Population Vaccinated, 1...",2021-11-19 15:31:10+00:00,406285537,en,30,0,0,150,-0,RT @charliebilello:
34194,34194,1461718698784395269,@TosinFayanju Here‚Äôs a thought experiment. Tak...,2021-11-19 15:31:09+00:00,1412519507080450048,en,0,0,0,0,-0,NaN
34195,34195,1461718697408704525,üö®‚öΩÔ∏è| Fifa have released their new rankings\n\n...,2021-11-19 15:31:09+00:00,1050318846870114432,en,0,1,10,24,-0,NaN
34196,34196,1461718689657536520,"RT @vikingobcn_: I love to masturbate, do you ...",2021-11-19 15:31:07+00:00,1043777388893675648,en,74,0,0,370,-0,RT @vikingobcn_
34197,34197,1461718681709424642,RT @Easyfreshglobal: Easyfresh Iberia &amp; Ea...,2021-11-19 15:31:05+00:00,857731573,en,1,0,0,5,-0,RT @Easyfreshglobal:
34198,34198,1461718651485110276,RT @ArchDaily: House 1603 / Nordest Arquitectu...,2021-11-19 15:30:58+00:00,1927374086,en,92,0,0,460,-0,RT @ArchDaily:
34199,34199,1461718633839747072,RT @MaterialesdeCo3: Enjoy a new article of th...,2021-11-19 15:30:54+00:00,1461370695687053312,en,3,0,0,15,-0,RT @MaterialesdeCo3:
34200,34200,1461718629582581760,@Rollinsss1 That was amazing but I prefer 2014...,2021-11-19 15:30:53+00:00,3600453616,en,0,0,1,2,-0,NaN
34201,34201,1461718621256917001,"New artwork for sale! - ""The Moors Citadel Arc...",2021-11-19 15:30:51+00:00,165227909,en,0,0,0,0,-0,NaN
34202,34202,1461718615946891264,@eliselalouve @archillect That's anywhere in s...,2021-11-19 15:30:50+00:00,2148087907,en,0,0,0,0,-0,NaN
34203,34203,1461718591892561932,RT @daviddrh: @simonwiesenthal @jordiborras In...,2021-11-19 15:30:44+00:00,1574901404,en,13,0,0,65,-0,RT @daviddrh:
34204,34204,1461718577158017032,RT @JusticeTourNews: .@justinbieber‚Äôs ‚ÄúJustice...,2021-11-19 15:30:40+00:00,133845895,en,310,0,0,1550,0,RT @JusticeTourNews:
34205,34205,1461718575690010631,RT @FootballlForAll: üö®‚öΩÔ∏è | Fifa have released ...,2021-11-19 15:30:40+00:00,1382669947877347328,en,93,0,0,465,-0,RT @FootballlForAll:
34206,34206,1461718572779122698,@_stars_scars_ I'm from Spain!! https://t.co/e...,2021-11-19 15:30:39+00:00,1289347928306352128,en,0,0,0,0,-0,NaN
34207,34207,1461718564021305351,"RT @EuropeanPan: First Greece, then Spain &amp...",2021-11-19 15:30:37+00:00,1441794591074619392,en,12,0,0,60,-0,RT @EuropeanPan:
34208,34208,1461718553950887944,RT @Jackspektra: I wanted to go to LFL next ye...,2021-11-19 15:30:35+00:00,1311601157371031552,en,116,0,0,580,-0,RT @Jackspektra:
34209,34209,1461718552923279365,RT @AmaliaDache: 4) Any country keeping the mi...,2021-11-19 15:30:35+00:00,1240316823813398528,en,5,0,0,25,-0,RT @AmaliaDache:
34210,34210,1461718548066095114,RT @Dearyounggrad: #FridayScholarshipBonanza\n...,2021-11-19 15:30:33+00:00,1055639636,en,8,0,0,40,-0,RT @Dearyounggrad:
34211,34211,1461718529229664257,RT @JoanenF: @simonwiesenthal This is normal i...,2021-11-19 15:30:29+00:00,1574901404,en,6,0,0,30,-0,RT @JoanenF:
34212,34212,1461718505716424707,Spain on the lookout for Dutch Covid-infected ...,2021-11-19 15:30:23+00:00,1156666729625317376,en,0,0,0,0,-0,NaN
34213,34213,1461718495813644294,"RT @XTRAMILK: .@montse_swinger From Spain, a v...",2021-11-19 15:30:21+00:00,3062342524,en,1,0,0,5,-0,RT @XTRAMILK:
34214,34214,1461718482345730057,@Plusichan @_Ninji It is annoyingly accurate f...,2021-11-19 15:30:18+00:00,1308783197778522112,en,0,0,1,2,-0,NaN
34215,34215,1461718481246867460,"DAY 4 of 20,000 strong all out strike of metal...",2021-11-19 15:30:18+00:00,143434318,en,7,0,15,65,-0,NaN
34216,34216,1461718477492965379,Meet the KYB #Movember moustache team! Here is...,2021-11-19 15:30:17+00:00,563756299,en,0,0,1,2,-0,NaN
34217,34217,1461718462024278022,.@KarlLagerfeld‚Äôs first branded luxury residen...,2021-11-19 15:30:13+00:00,19784831,en,0,0,6,12,-0,NaN
34218,34218,1461718455871164423,#Spain The holidays! Stop. Holidays = holi day...,2021-11-19 15:30:11+00:00,68851925,en,0,0,0,0,-0,NaN
34219,34219,1461718451219832840,RT @FilmUpdates: Jennifer Lawrence covers the ...,2021-11-19 15:30:10+00:00,1455367028043235328,en,200,0,0,1000,-0,RT @FilmUpdates:
34220,34220,1461718443355369475,Biking Spain's Camino de Santiago (Podcast) - ...,2021-11-19 15:30:08+00:00,702773,en,0,0,0,0,-0,NaN
34221,34221,1461718427169607688,46.1M people in UK are fully vaccinated that‚Äôs...,2021-11-19 15:30:05+00:00,36172400,en,0,0,0,0,-0,NaN
34222,34222,1461718421549236225,RT @Jackspektra: I wanted to go to LFL next ye...,2021-11-19 15:30:03+00:00,3018467337,en,116,0,0,580,-0,RT @Jackspektra:
34223,34223,1461718398715539467,RT @SMQureshiPTI: Pleased to celebrate 70 year...,2021-11-19 15:29:58+00:00,1177812885965291520,en,143,0,0,715,-0,RT @SMQureshiPTI:
34224,34224,1461718378960367618,PM 'CLEARED' over refusal to declare Spain fre...,2021-11-19 15:29:53+00:00,1339928034,en,0,0,0,0,-0,NaN
34225,34225,1461718361339928577,RT @JusticeTourNews: .@justinbieber‚Äôs ‚ÄúJustice...,2021-11-19 15:29:49+00:00,1209050561334562816,en,310,0,0,1550,0,RT @JusticeTourNews:
34226,34226,1461718356243804165,RT @dec_vs: I asked some students what languag...,2021-11-19 15:29:48+00:00,1445235805707030528,en,20,0,0,100,-0,RT @dec_vs
34227,34227,1461718351705784325,New QSO:IW9FRA-&gt;EA5IVL (Spain) FT8 15m 1180...,2021-11-19 15:29:47+00:00,431495490,en,0,0,0,0,-0,NaN
34228,34228,1461718333661847556,RT @Barca_Buzz: üéôÔ∏è| Luis de la Fuente (Spain U...,2021-11-19 15:29:42+00:00,334560736,en,43,0,0,215,-0,RT @Barca_Buzz
34229,34229,1461718323637465096,RT @oulosP: The first stop for the Spanish del...,2021-11-19 15:29:40+00:00,161604085,en,30,0,0,150,-0,RT @oulosP:
34230,34230,1461718303135744003,"RT @BintingM: Madrid, Spain üá™üá∏ ...",2021-11-19 15:29:35+00:00,305947296,en,861,0,0,4305,1,RT @BintingM:
34231,34231,1461718290905157639,Miserlou | Clebanoff | Strings Afire In Spain,2021-11-19 15:29:32+00:00,2356458624,en,0,0,0,0,-0,NaN
34232,34232,1461718263537274890,Our 2021 Spain's Great Match New York event wa...,2021-11-19 15:29:26+00:00,20798327,en,0,0,2,4,-0,NaN
34233,34233,1461718223070498817,Police in Spain search for isolation-skipping ...,2021-11-19 15:29:16+00:00,1206183985337925632,en,0,0,0,0,-0,NaN
34234,34234,1461718213948018695,"RT @oulosP: Spain, which will be lucky to see ...",2021-11-19 15:29:14+00:00,161604085,en,150,0,0,750,-0,RT @oulosP:

### <font color='green'>Answer: original_account column has the account names who have started the conversations.</font>

## Question 7. Please briefly reflect on how would you try to mitigate misinformation on social media (2 paragraphs maximum). (10 points)

####  We are living in communication era, so number of conversations have dramatically increased. This improvement provides great individual power that ability to increase people‚Äô voice, also birth to potential risks such as suitable environment for spreading misinformation. I believe that there are two aspects of solution in this problem, which are external aspect and internal aspect. The solution can be only reached if these two sides work together. External aspect includes regulators such as states and international institutes that has authority to declare rule for mitigating misinformation. External factors can create standard misinformation organizations in a global and regional scales, so they can do necessary research and determine scientific steps to prevent spreading of misinformation by auditing social media companies.

#### I believe one solution cannot be enough for this problem, so private companies have to try to prevent this problem too. My second potential solution that can help other solutions, is that companies can grade the posts rather than profiles. To illustrate, if someone has a claim about the history, he or she needs to show source to make his or her post validation sign. It does not matter where the person gets source in order to get validation sign. Person just need to show the source and then directly gets validation sign. Even the source is wrong at least people can check the trust level of the source easier than post that has 240 characters from unknown person.